asyncio==3.4.3
beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.4.26
cffi==1.17.1
configparser==7.2.0
curl_cffi==0.11.3
greenlet==3.2.3
lxml==5.4.0
playwright==1.52.0
pycparser==2.22
pyee==13.0.0
schedule==1.2.2
slugify==0.0.1
soupsieve==2.7
telegram==0.0.1
typing_extensions==4.14.0
Unidecode==1.4.0
unicode==2.9
